Doc1: Working with csv files using pandas.

In [3]:
import os
import glob
import numpy as np


import pandas as pd

#from google.colab import drive
#drive.mount ('/content/drive')

#from google.colab import files
#uploaded = files.upload

#for file in glob.glob("C:\Python\Python39\pandas.CSV.test1.csv"):
#print(file)

path = "/content/drive/MyDrive/pandas.CSV.test1.csv"

df = pd.read_csv(path, names = ["Serial no.", "Patient_ID", "Image_No"])
df.describe
#df.head()
#df.tail()

<bound method NDFrame.describe of         Serial no.  Patient_ID  Image_No
0      w\tgh\tk\tl         NaN       NaN
1    1\t7\t2\tgvgf         NaN       NaN
2  2\t7\tggh\tcvcv         NaN       NaN>

In [7]:
df = pd.DataFrame()
data = [[10,200,60], [12,255,56], [9,45,78], [657,668,767]]
df = pd.DataFrame(data)
print(data)
print(df)


df = pd.DataFrame(data, index = [1,2,3,4])
print(df)

df = pd.DataFrame(data, columns = ['Serial No', 'Patient_Id', 'Image_No'])
print(df)

print(df.info())
print(df.shape) 

print(df.index)

[[10, 200, 60], [12, 255, 56], [9, 45, 78], [657, 668, 767]]
     0    1    2
0   10  200   60
1   12  255   56
2    9   45   78
3  657  668  767
     0    1    2
1   10  200   60
2   12  255   56
3    9   45   78
4  657  668  767
   Serial No  Patient_Id  Image_No
0         10         200        60
1         12         255        56
2          9          45        78
3        657         668       767
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Serial No   4 non-null      int64
 1   Patient_Id  4 non-null      int64
 2   Image_No    4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes
None
(4, 3)
RangeIndex(start=0, stop=4, step=1)

In [8]:
#df = df.set_index('Serial No')
print(df)

print(df.columns)
#print(df.rows)

#print(df['Image_No:0'].unique())

df = df.rename(columns = {'Image_No=0':'Image_set'})
print(df.columns)
print(df["Patient_Id"])
print(df.dtypes)
print(df.describe())
print(df[1:3])

   Serial No  Patient_Id  Image_No
0         10         200        60
1         12         255        56
2          9          45        78
3        657         668       767
Index(['Serial No', 'Patient_Id', 'Image_No'], dtype='object')
Index(['Serial No', 'Patient_Id', 'Image_No'], dtype='object')
0    200
1    255
2     45
3    668
Name: Patient_Id, dtype: int64
Serial No     int64
Patient_Id    int64
Image_No      int64
dtype: object
        Serial No  Patient_Id    Image_No
count    4.000000     4.00000    4.000000
mean   172.000000   292.00000  240.250000
std    323.335739   265.96867  351.297002
min      9.000000    45.00000   56.000000
25%      9.750000   161.25000   59.000000
50%     11.000000   227.50000   69.000000
75%    173.250000   358.25000  250.250000
max    657.000000   668.00000  767.000000
   Serial No  Patient_Id  Image_No
1         12         255        56
2          9          45        78

In [9]:
df['new_data'] = pd.to_datetime("2020-06-07")
print(df)

#df = df.drop(df.index[1])
#print(df)
print(max(df['Image_No']))

   Serial No  Patient_Id  Image_No   new_data
0         10         200        60 2020-06-07
1         12         255        56 2020-06-07
2          9          45        78 2020-06-07
3        657         668       767 2020-06-07
767

In [10]:
df = df.sort_values('Patient_Id', ascending = True)
print(df)

   Serial No  Patient_Id  Image_No   new_data
2          9          45        78 2020-06-07
0         10         200        60 2020-06-07
1         12         255        56 2020-06-07
3        657         668       767 2020-06-07